
table{
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  display: inline-block;
  margin-right: 15px;
  background: #C0C0C0;
}

td{
 border-left: 1px solid black;
 padding: 5px;
}

.head{
  font-weight: bold;
}